/*
***********************************
MEDIA QUERIES
***********************************
*/
/*
******************************************
VARIABLES
******************************************
*/
:root {
  --body-bg: #1a191f;
  --text-color: rgb(243, 243, 243);
}

/*
******************************************
GENERAL
******************************************
*/
* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: var(--body-bg);
  font-family: "Montserrat", sans-serif !important;
  color: var(--text-color);
  margin: 0 150px;
  transition: background-color 0.2s ease;
}
@media (min-width: 300px) and (max-width: 576px) {
  body {
    margin: 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  body {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    margin: 0;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  body {
    margin: 0;
  }
}

h1 {
  font-size: 6em;
  font-weight: 100;
  text-align: center;
}
@media (min-width: 300px) and (max-width: 576px) {
  h1 {
    font-size: 4em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 4em;
  }
}

.nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}

section {
  margin: 0 50px;
  height: 100vh;
}
@media (min-width: 300px) and (max-width: 576px) {
  section {
    margin: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  section {
    margin: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section {
    margin: 0 250px;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  section {
    margin: 0 270px;
  }
}
@media (min-width: 1280px) {
  section {
    margin: 0 270px;
  }
}

.fadeIn {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.fadeIn.active {
  opacity: 1;
}

.flex-left-right {
  display: flex;
}
@media (min-width: 300px) and (max-width: 576px) {
  .flex-left-right {
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .flex-left-right {
    flex-direction: column;
  }
}

.flex-left,
.flex-right {
  width: 50%;
  background-position: center;
}
@media (min-width: 300px) and (max-width: 576px) {
  .flex-left,
  .flex-right {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .flex-left,
  .flex-right {
    width: 100%;
  }
}

/*
******************************************
INTRO SECTION
******************************************
*/
.intro-text div {
  margin-bottom: 30px;
}
@media (min-width: 300px) and (max-width: 576px) {
  .intro-text div {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .intro-text div {
    text-align: center;
  }
}

.intro-bg-container {
  background-image: url("../images/feu-intro.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
@media (min-width: 300px) and (max-width: 576px) {
  .intro-bg-container {
    height: 206px;
    background-position: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .intro-bg-container {
    height: 206px;
    background-position: center;
  }
}

/*
******************************************
HISTORY SECTION
******************************************
*/
.history-section {
  height: 100vh;
}
@media (min-width: 300px) and (max-width: 576px) {
  .history-section {
    height: 180vh;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .history-section {
    height: 180vh;
  }
}
.history-section .flex-left-right .flex-left {
  background-position: left;
}
@media (min-width: 300px) and (max-width: 576px) {
  .history-section .flex-left-right .flex-left {
    background-position: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .history-section .flex-left-right .flex-left {
    background-position: center;
  }
}

#history-bg {
  background-image: url("../images/sapiens.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 425px;
}
@media (min-width: 300px) and (max-width: 576px) {
  #history-bg {
    height: 232px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #history-bg {
    height: 232px;
  }
}

#history-text {
  text-align: justify;
  padding-left: 115px;
}
@media (min-width: 300px) and (max-width: 576px) {
  #history-text {
    padding: 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #history-text {
    padding: 0;
  }
}

/*
******************************************
USE SECTION
******************************************
*/
@media (min-width: 300px) and (max-width: 576px) {
  .use-section {
    height: 130vh;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .use-section {
    height: 140vh;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#use-btn0 {
  font-size: 2.3em;
}

#use-btn1 {
  font-size: 1.1em;
}

#use-btn2 {
  font-size: 1.5em;
}

#use-btn3 {
  font-size: 2em;
}

#use-btn4 {
  font-size: 1.3em;
}

#use-btn5 {
  font-size: 1.1em;
}

#use-btn6 {
  font-size: 1em;
}

#use-btn7 {
  font-size: 2em;
}

#use-btn8 {
  font-size: 1.1em;
}

#use-btn9 {
  font-size: 2em;
}

/*
******************************************
MAKE FIRE SECTION
******************************************
*/
@media (min-width: 300px) and (max-width: 576px) {
  #make-fire-section {
    height: 134vh;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #make-fire-section {
    height: 134vh;
  }
}
#make-fire-section h1 {
  margin-bottom: 10px;
}
#make-fire-section a {
  font-size: 0.8em;
  margin: 45%;
  padding: 10px;
}

.accordion:nth-child(1) {
  border-radius: 20px 20px 0 0 !important;
}

.accordion:nth-of-type(5) {
  border-radius: 0 0 20px 20px !important;
}

/*
******************************************
STORIES SECTION
******************************************
*/
#stories-section {
  color: black;
  height: 120vh;
}
#stories-section ul li {
  margin-bottom: 5px;
}
@media (min-width: 300px) and (max-width: 576px) {
  #stories-section {
    height: 340vh;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #stories-section {
    height: 300vh;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #stories-section {
    height: 200vh;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  #stories-section {
    height: 200vh;
  }
}

/*
******************************************
DAMAGE SECTION
******************************************
*/
#damage-section {
  color: black;
}
@media (min-width: 300px) and (max-width: 576px) {
  #damage-section {
    height: 200vh;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #damage-section {
    height: 200vh;
  }
}
#damage-section .flex-left {
  background: url("../images/skull-fire.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 425px;
}

/*
******************************************
TITLES
******************************************
*/
.titles {
  color: black;
}
.titles h2 {
  font-style: italic;
  text-align: center;
  font-weight: 100;
}

#smoke-gif {
  background: url("../images/smoke.gif");
  background-size: contain;
  background-repeat: no-repeat;
  height: 425px;
  width: 425px;
  border-radius: 50px;
  background-position: center;
  margin: auto;
}
@media (min-width: 300px) and (max-width: 576px) {
  #smoke-gif {
    height: 267px;
    width: 267px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #smoke-gif {
    height: 267px;
    width: 267px;
  }
}/*# sourceMappingURL=style.css.map */